<ion-header>
  <ion-toolbar>
    <ion-title>Jadwal</ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-label>UserX</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-datetime locale="en-GB"></ion-datetime>
  </ion-card>
  <ion-card style="padding:5px">
    <ion-text><h3>Keterangan Jadwal</h3></ion-text>
    <ion-text><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum iure consequuntur animi quo? Sequi optio ipsum officia! Consequatur quibusdam nobis autem dolorem, debitis itaque accusamus nesciunt optio aliquid incidunt voluptate</p></ion-text>
  </ion-card>
</ion-content>
